<% layout('layout/dashboard') -%> <%- include('../partial/admin-nav')%> <%-
include('../partial/flash') %>

<div class="container">
  <div class="card-wrapper">
    <div class="card mb-3 mt-3" style="max-width: 500px">
      <div class="card-body">
        <h5 class="card-title">New Blog:</h5>

        <form method="POST" action="/admin/blogs/new" enctype="multipart/form-data">
          <div class="form-group">
            <label for="title">Title</label>
            <input
              type="text"
              class="form-control"
              name="blog[title]"
              id="title"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="form-group">
            <label for="text">Text</label>
            <textarea
              type="text"
              class="form-control"
              name="blog[text]"
              id="text"
            ></textarea>
          </div>

          <div class="form-group">
            <!-- <label for="image">Image</label>

            <input
              type="text"
              class="form-control"
              id="image"
              name="blog[image]"
            /> -->
            <input type="file" name="image">
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
          <a type="button" class="btn btn-secondary" href="/admin/blogs"
            >Back</a
          >
        </form>
      </div>
    </div>
  </div>
</div>
