<%  layout('layout/boilerplate') -%>

<div class="error mt-5">
    <div class="wrap-err">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%=err.message%> , <%=err.statusCode%></h4>
            <img src="" alt="">
            
        </div>
    </div>
    
</div>
