
 
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/admin/users">Admin Panel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav ml-auto">
       
          
        <a class="nav-link" href="/admin/users">Users</a>
        <a class="nav-link" href="/admin/blogs">Blogs</a>
        <a class="nav-link" href="/admin/exercise">Exercise</a>
        
        
        <a class="nav-link" href="/admin/logout">Log Out</a>
        
      </div>
  </div>
</nav>
       
   
      
 
