<%  layout('layout/boilerplate') -%>

<section class="top-post">
    <div class="post">
        <div class="container">
            <div class="post-img">
                <img class="post-img-inside" src="<%=image%>" alt="">
            </div>
            <div class="post-title">
                <h4><%= title %></h4>
            </div>
            <div class="post-text">
               <p><%= text %></p>   
            </div>
            <a href="/blog" class="btn btn-dark mb-3" id="blog-buttons">Blogs</a>
        </div>
        
    </div>
    
</section>    